<div class="project">

<div class="project-title"><%= @project.title %></div>

<br />
<h3>About This Project</h3>
<br />

<div class="project-description"><%= @project.description %></div>

<br />
<h3>Materials used</h3>
<br />

<div class="project-materials"><%= @project.materials %></div>


</div>